html {
    font-size: 62.5%
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background: linear-gradient(90deg, rgba(89,189,246,1) 14%, rgba(65,135,188,1) 36%, rgba(39,78,127,1) 56%, rgba(23,42,88,1) 76%, rgba(17,29,74,1) 90%);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns:70% 1fr;
    grid-template-rows:22% 1fr 10%;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"  ;
}

header { grid-area:header ;
    align-items: center;
    background: rgb(89,189,246);
    background: linear-gradient(90deg, rgba(89,189,246,1) 14%, rgba(65,135,188,1) 36%, rgba(39,78,127,1) 56%, rgba(23,42,88,1) 76%, rgba(17,29,74,1) 90%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    

}
.dropdown{
 display: none;
}
h1 {
    color: #111D4A;
    font-size: 4rem;
    
}


.imagen-logo {width:13rem;
    display: flex;
    align-items: start;
    border-radius:50% ;
    

}
.menu-burguer{
    display: none;
}


ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.7rem;
    list-style-type: none;
    
}

a:hover{
    color: yellow;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}


main{background: rgb(89,189,246);
    background: linear-gradient(90deg, rgba(89,189,246,1) 14%, rgba(65,135,188,1) 36%, rgba(39,78,127,1) 56%, rgba(23,42,88,1) 76%, rgba(17,29,74,1) 90%);
grid-area: main;
justify-content: center;
align-items: center;
}
main{
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main aside"; 
}

.imagen-santi {
   box-sizing: border-box;
   border-radius: 10%;
   height: 90%;
   width: 90%;
   margin:3rem 2rem;
   
}

.aside{grid-area: aside;
    display: flex;
    align-items: start;
    justify-content: center;

}
.texto1 {
    background-color: #FCECC9;
    font-size: medium;
    color: #111D4A;
height: 20%;
width: 80%;
box-sizing: border-box;
padding: 1rem;
font-family: 'Dongle', sans-serif;



}
.parrafos{
    font-family: 'Caveat', cursive;
    margin-top:10rem;
    
    
   
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #134074;
}
.logo-ig{
    width: 4rem;
}
/* fin de inicio*/
/* PROFES */

.main-profes{ display: grid;
    grid-template-rows: 13rem 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
    "titulos"
    "carousel"
    
    ;
}

  .contenedor-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

  }
 
.titulos-profes{
    grid-area: titulos;
    margin-top:;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 1rem;

}

    .titulo-profes{
    font-family: 'Oswald', sans-serif;
   color: #111D4A;
    font-size:x-large;
    font-weight: bolder;
}

.subtitulo-profes{ font-size:large;
    width: 40%;
    background-color:#FCECC9 ;
    color: #134074;
}


.carousel{
    grid-area: carousel;
}
.carousel p{
    color: white;
    font-weight: bolder;
    font-size: larger;
}
.carousel h5{
    color: white;
    font-weight: bolder;
    font-size: medium;
}

/* fin de profes */
/* Horarios */

.main-horarios{
color: #111D4A;
display: grid;
width: 100%;
height: 100%;
grid-template-columns:60% 1fr;
grid-template-rows: 20% 1fr;
grid-template-areas:
"titulo aside"
"turnos aside";
}
.titulo-horarios{
    color:#111D4A;
    grid-area: titulo;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedor-horarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loshorarios{color: #111D4A;
    background-color: #FCECC9;
font-family: 'Caveat', cursive;
width:65% ;
font-size: large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.turnos{ color: #111D4A;
    grid-area: turnos ;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.losturnos{
    color: #111D4A;
    background-color: #FCECC9;
    font-family: 'Caveat', cursive;
    width:80% ;
    font-size:large;

}

.foto-aside{
    grid-area: aside;
}
.foto-aside img{
    width: 90%;
    height:80%;
}
/* FIN DE HORARIOS */
/* ACERCA DE */

.main-acerca{
    display: grid;
    height: 100%;
    width:100%;
    grid-template-columns:60% 1fr ;
    grid-template-rows: 5%1fr;
    grid-template-areas:
    " reglamento reglamento"
    "presentacion orden ";
}

.reglamento{ text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#FCECC9;
    font-size: xx-large;
    grid-area: reglamento;
}

.presentacion{ 
    grid-area: presentacion;
    color: #111D4A;
    background-color:#FCECC9;
    font-family: 'Caveat', cursive;
   width: 90%;
    font-size: medium;
    padding: 1rem;
    border-radius:5%;
}
.span-presentacion{
    font-size: x-large;
    font-weight: bold;
}
.contenedor-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orden{
    grid-area: orden;
    color: #FCECC9;
    font-family: 'Caveat', cursive;
   width: 80%;
   font-size: medium;
}
.span-orden{
    font-size: x-large;
    font-weight: bold;
}



/* FIN DE ACERCA DE */
/* CONTACTOS */
.main-contactos{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 1fr 1fr ;
    grid-template-rows:5% 1fr;
    grid-template-areas: 
    "maps contacto info"
    "maps form info";
}
.maps{ font-size: large;
    font-family: 'Caveat', cursive;
    grid-area: maps;
    width: 100%;
height:50% ;
display: flex;
flex-direction: column;
align-items: center;

justify-content: center;


}
.maps p{display: flex;
    font-size: x-large;
    font-family: 'Caveat', cursive;
    
    color: #111D4A;

}
.titulo-contacto{
    display: none;
}
.section-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: form;
}


.form-contacto{ display: flex;

    grid-area: contacto;
    color: #FCECC9;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
.form{display: flex;
    flex-direction: column; 
    background-color: #111D4A;
    color: white;
    font-size: medium;
    font-family: 'Caveat', cursive;
    height:90%;
    width: 70%;
    border-radius: 5%;
padding: 0.7rem;
}

.info-contacto{display: flex;
    color: #FCECC9;
    margin-left: 5rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:large;
    width: 60%;
    height: 100%;
    grid-area: info;
    font-family: 'Caveat', cursive;
}
.ig-contacto{
    color: #FCECC9;
}
.titulo-info-contacto{
    font-size: x-large;
    font-weight: bold;
}



@media screen and (max-width: 425px) {

body{
   grid-template-columns: none;
}
    header{
        justify-content: space-evenly;
        align-items: center;
        width:100vw ;
        height: 80%;
        
    
    }
    .dropdown{
        display: block;
    }
   h1{font-size: medium;
    color: white;
    font-weight: bold;

   }
    nav{

        display: none;
    }
    .menu-burguer{
        display: block;
        width:3rem ;
        
    }
.imagen-logo{ width: 7rem;
   
}
main{
    display: flex;
    flex-direction: column;
}
.imagen-santi{
    width:85%;
}
aside{
height: 100%;
}
.texto1{
font-size:xx-small;
background-color: #FCECC9;
height: 90%;

}
.parrafos{
    margin-top: 0;
    font-size:small;
    font-family: 'Times New Roman', Times, serif;
}


/* section profes */

.main-profes{
    display: flex;
flex-direction: column;
height: 90%;
display: flex;
}
.titulo-profes{
    font-size: medium;
    color:white;
    font-weight: bolder;
}
.subtitulo-profes{
    font-size: medium;
    width: 80%;
    font-weight: 600;
    padding: 0.5rem;
}


.contenedor-carousel{
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;

}
.carousel-inner h5{
    font-size:small ;
}
.carousel-inner p{
    font-size: x-small;
}

/* horarios */
.main-horarios{
    display: flex;
flex-direction: column;
height: 100%;
}


.titulo-horarios{
    font-size: medium;
}
.loshorarios{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
.turnos{
    font-size: medium;

}
.losturnos{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
.foto-aside{
    display: none;
}

/* acerca de */

.main-acerca{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
.reglamento{
    font-size: x-large;
    font-weight: bolder;
}
.presentacion{
    font-size: small;
    background-color: #FCECC9;
   color: #111D4A;
   font-weight: bold;
   background-size: cover;
   font-family: 'Times New Roman', Times, serif;
   

}
.imagen-acerca{
    display: none;
}
.orden{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
.video{
    display: none;
}

/* contacto */
.titulo-contacto{
    display: block;
    color: #FCECC9;
    font-size: x-large;
    grid-area: contacto;
    text-align: center;
    
}

.main-contactos{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:2% 30% 1fr 25%;
    grid-template-areas: 
    "contacto"
    " maps"
    " form"
    " info"; 
}

.maps{
    grid-area: maps;
    display: flex;
    flex-direction: row;
   font-family: 'Times New Roman', Times, serif;
    justify-content:space-evenly ;
    
}
.maps p{font-size: medium;
    justify-content:center;
    align-items: start;
    font-family: 'Times New Roman', Times, serif;
    
}
iframe{
    height: 12rem;
    width: 80%;
    
}
.form-contacto{
display: none;
}

.section-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height:100% ;
    width: 60%;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    
}
.info-contacto{
    font-size: medium;
    width: 70%;
    justify-content: center;
height: 50%;
gap: 0;
font-family: 'Times New Roman', Times, serif;
}
}

 @media screen and (max-width: 320px) {

    body{
       grid-template-columns: none;
    }
        header{
            justify-content: space-evenly;
            align-items: center;
            width:100vw ;
            height: 80%;
            
        
        }
        .dropdown{
            display: block;
        }
       h1{font-size: small;
        color: white;
        font-weight: bold;
    
       }
        nav{
    
            display: none;
        }
        .menu-burguer{
            display: block;
            width:3rem ;
            
        }
    .imagen-logo{ width: 6rem;
       
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .imagen-santi{
        width:80%;
        height: 80%;
    }
    aside{
    height: 100%;
    }
    .texto1{
    font-size:xx-small;
    background-color: #FCECC9;
    height: 95%;
    
    }
    .parrafos{
        margin-top: 0;
        font-size:small;
        font-family: 'Times New Roman', Times, serif;
    }
    
    
    /* section profes */
    
    .main-profes{
        display: flex;
    flex-direction: column;
    height: 90%;
    display: flex;
    }
    .titulo-profes{
        font-size: small;
        color:white;
        font-weight: bolder;
    }
    .subtitulo-profes{
        font-size: small;
        width: 80%;
        font-weight: 600;
        padding: 0.5rem;
    }
    
    
    .contenedor-carousel{
        height: 80%;
        width: 80%;
    margin: 0;
    }
    .carousel-inner h5{
        font-size:small ;
    }
    .carousel-inner p{
        font-size: x-small;
    }
    
    /* horarios */
    .main-horarios{
        display: flex;
    flex-direction: column;
    height: 100%;
    }
    
    
    .titulo-horarios{
        font-size:large;
    }
    .loshorarios{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }
    .turnos{
        font-size:small;
    }
    .losturnos{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }
    .foto-aside{
        display: none;
    }
    
    /* acerca de */
    
    .main-acerca{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
    }
    .reglamento{
        font-size: medium;
        font-weight: bolder;
    }
    .presentacion{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;

       color: #111D4A;
       font-weight: bold;
       background-size: cover;

    }
    .span-presentacion{
        font-size: medium;
    }
    .imagen-acerca{
        display: none;
    }
    .span-orden{
        font-size: medium;
    }
    .orden{
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
    }
    .video{
        display: none;
    }
    
    /* contacto */
    .titulo-contacto{
    display: flex;
    align-items: center;
        color: #FCECC9;
        font-size:large;
        grid-area: contacto;
        justify-content: center;
        
    }
    
    .main-contactos{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:2% 30% 1fr 25%;
        grid-template-areas: 
        "contacto"
        " maps"
        " form"
        " info"; 
    }
    
    .maps{
        grid-area: maps;
        display: flex;
        flex-direction: row;
       font-family: 'Times New Roman', Times, serif;
        justify-content:space-evenly ;
        
    }
    .maps p{font-size: small;
        justify-content:center;
        align-items: start;
        font-family: 'Times New Roman', Times, serif;
        
    }
    iframe{
        height: 10rem;
        width: 18rem;
        
    }
    .form-contacto{
    display: none;
    }
    
    .section-formulario{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        height:100% ;
        width: 70%;
        font-size:small;
        font-family: 'Times New Roman', Times, serif;
        
    }
    .titulo-info-contacto{
        font-size: large;
    }
    .info-contacto{
        font-size: small;
        width: 70%;
        justify-content: center;
    height: 50%;
    gap: 0;
    font-family: 'Times New Roman', Times, serif;
    }
}