footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgb(79, 79, 79);
    gap: 4rem;
    
    .logo-ig{
        width: 4rem;
    }
    .logo-wsp{
        width: 4rem;
    }
}
