
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
$background: linear-gradient(90deg, rgba(89,189,246,1) 14%, rgba(65,135,188,1) 36%, rgba(39,78,127,1) 56%, rgba(23,42,88,1) 76%, rgba(17,29,74,1) 90%);
$font-titulos:'Sigmar', cursive;



@mixin flex-center{
	display:flex;
	align-items: center;
	justify-content:center;
}
@mixin flex-column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
